<div class="container">
	<h3>Log In</h3>

  <%= @error if @error %>

  <%= form_tag login_path, :method => "post" do |f| %>
    <%= label_tag "email", "Email:" %>
    <%= text_field_tag :email, params[:email] %>
    <%= label_tag "password", "Password:" %>
    <%= password_field_tag :password, params[:password] %>
    <%= submit_tag "Login" %>
  <% end %>

</div>
