<div class="movie-list">

	<% @movies.each do |mov|  %>
	  <a href="/movies/<%= mov.id %>"><h1> <%= mov.title %> </h1></a>
	  <h2> Directed by: <%= mov.director %> </h2>
	  <h4> <%= mov.release_year %>, <%= mov.mppa_rating %>, <%= mov.runtime %> mins. </h4>
	  <p> Cast: <%= mov.cast %> </p>
	  <p> <%= image_tag mov.title_photo.url(:small) %>
	<% end  %>
	
</div>
