<div class="container">	

	<div class="movie-list">

		<% @movies.each do |mov|  %>

		  <h1> <%= link_to mov.title, movie_path(mov) %> </h1>

		  <h4> Directed by: <%= mov.director %> </h4>
		  <h5> <%= mov.release_year %>, <%= mov.mppa_rating %>, <%= mov.runtime %> mins. </h5>
		  <p> Cast: <%= mov.cast %> </p>
		  <p> <%= image_tag mov.title_photo.url(:small) %>
		<% end  %>

	</div>
</div>
