<div class="container">
  <div class="row">
    <div class='col l6 offset-l3'>
      <div class="slider">
  <ul class="slides">

  	<% @top_movies.each do |mov| %>
    	<li>
    		<a href="/movies/<%= mov.id %>"><%= image_tag mov.title_photo.url %>"></a>
    	</li>


    <% end %>

  </ul>

</div>

<div class="top-reviews container row">
	<% @top_reviews.each do |rev| %>
		
		<div class="indiv-top-review col s4">
			<div class="top-review-movie-title">
				<a href="/movies/<%= rev.movie.id %>"><%= rev.movie.title %></a>
			</div>

			<div class="top-review-content">
				<%= rev.content %>
			</div>
		</div>

	<% end %>
</div>
