<!DOCTYPE html>
<html>
<head>
  <title>Stardust Reviews</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style></style>
</head>
<body>


<nav>

  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
  	<% if logged_in? %>
  		<li>Welcome, <%= current_user.username %>!</li>
      <li><a href="/logout">Sign Out</a></li>

  	<% else %>
      <li><a href="/login">Sign In</a></li>
      <li><a href="/signup">Sign Up</a></li>

    <% end %>
      <li><a href="/movies">ALL MOVIES</a></li>
      <li><a href="/reviews">ALL REVIEWS</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
  	<a href="/" class="col s12 black-text center">
  		<h1>Stardust Reviews</h1>
  	</a>
  </div>
</div>


  <%= yield %>
  <footer class="page-footer"></footer>

</body>
</html>
