<%= form_for [@movie, @review] do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label 'Photography' %>
    <%= f.number_field :photography, min:1, max:6%>
  </p>
  <p>
    <%= f.label 'Directing' %>
    <%= f.number_field :directing, min:1, max:6%>
  </p>
  <p>
    <%= f.label 'Cast' %>
    <%= f.number_field :cast, min:1, max:6%>
  </p>
  <p>
    <%= f.label 'Score' %>
    <%= f.number_field :score, min:1, max:6%>
  </p>
  <p>
    <%= f.label 'Overall Effect' %>
    <%= f.number_field :overall_effect, min:1, max:6%>
  </p>
  <p>
   <%= f.label 'Photo:' %><br />
   <%= f.file_field :photo_1 %>
  </p>
  <p>
   <%= f.label 'Photo:' %><br />
   <%= f.file_field :photo_2 %>
  </p>
  <p>
   <%= f.label 'Photo:' %><br />
   <%= f.file_field :photo_3 %>
  </p>
  <p>
   <%= f.label 'Photo:' %><br />
   <%= f.file_field :photo_4 %>
  </p>
  <p>
   <%= f.label 'Photo:' %><br />
   <%= f.file_field :photo_5 %>
  </p>

  <%= f.submit %>

<% end %>
