<%= form_for [@movie, @review] do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label 'Photography' %>
    <%= f.number_field_tag :photography, nil, min:1, max:6%>
  </p>
  <p>
    <%= f.label 'Directing' %>
    <%= f.number_field_tag :directing, nil, min:1, max:6%>
  </p>
  <p>
    <%= f.label 'Cast' %>
    <%= f.number_field_tag :cast, nil, min:1, max:6%>
  </p>
  <p>
    <%= f.label 'Score' %>
    <%= f.number_field_tag :score, nil, min:1, max:6%>
  </p>
  <p>
    <%= f.label 'Overall Effect' %>
    <%= f.number_field_tag :overall_effecty, nil, min:1, max:6%>
  </p>

  <%= f.submit %>

<% end %>
