<div class="container">

<h1>Reviews</h1>

<% @reviews.each do |rev| %>
  <h4><a href="/movies/<%= rev.movie_id %>"><%= rev.movie.title %></a></h4>
  <p style="font-weight:bold"> <%= rev.content %> </p>
  <p> <%= image_tag rev.photo_1.url(:medium) %> </p>
  <table>
    <tr>
      <th>Photography</th>
      <th>Directing</th>
      <th>Cast</th>
      <th>Score</th>
      <th>Overall Effect</th>
    </tr>
    <tr>
      <td><%= rev.photography %>/5</td>
      <td><%= rev.directing %>/5</td>
      <td><%= rev.cast %>/5</td>
      <td><%= rev.score %>/5</td>
      <td><%= rev.overall_effect %>/5</td>
    </tr>
    <tr>
      <td><%= rev.user.username %></td>
      <td><%= rev.user.trusted? %>
  </table>

  <p><a href="/movies/<%= rev.movie.id %>/reviews/<%= rev.id %>">Rate This Review</a></p><hr>

<% end %>

</div>
